body{
   margin: 0px;
   padding: 0px;
   font-family: "Roboto", sans-serif;
   
}
/*inicio da sessao header*/
.header{
    background-color:#1F2937;
    height: 50VH;
    font-family: "Roboto", sans-serif;   
}
.nav{
   display: flex;
   justify-content: center;
   align-items: baseline;
   padding-top: 10px;
}
.logo{
   font-size: 24px;
   color: #F9FAF8;
   margin-right: 370px;
   font-weight: 900;
   
}
.list{
   display: flex;
   list-style: none;
  } 

li a {
   text-decoration: none;
   padding-left: 18px;
   color: #E5E7EB;
   font-family: "Roboto", sans-serif;
}


 .hero{
   display: flex;
   margin-top: 2%;
   justify-content: center;
   text-align: left;
  
 }
.info_hero{
   width: 24%;
   margin-right: 30px;
}

 .info_hero h1{
   font-size: 48px;
   color: #F9FAF8;
   margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  
 }

 .info_hero, h5{
   font-size: 18px;
   color: #F9FAF8;
   margin-top: 0px;
   margin-bottom: 9px;
   font-family: "Roboto", sans-serif;
   font-weight: 200;
 }

 .btn_hero{
   border: 1px solid #3882F6;
   border-radius: 6px;
   padding: 8px 30px;
   color: #F9FAF8;
   background-color: #3882F6;
   font-family: "Roboto", sans-serif;

 }
 .img_hero {
   width: 540px;
   background-color: #848992;
   text-align: center;
   align-content: center;
   color: #F9FAF8;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   
 }

 /*fim da sessao header*/
 
 /*inicio section info*/
 .info {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   padding-bottom: 170px;
   height: 250px;
 }
 .info_title{
  font-size: 36px;
  font-family: "Robotdfo", sans-serif;
  font-weight: 900;
 }
 .element_box{
   display: flex;
   
 }
 .element{
   width: 170px;
   height: 170px;
   border: 4px solid #3882F6;
   border-radius: 13px;
   margin-left: 50px;
   display: flex;
   flex-direction: column;
 }

  .box{
  padding: 90px;
  }

  .text{
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #5a5c62;
  }
   /*fim section info*/
   
   /*Inicio section action*/

   .testimonial{
    background-color: #E5E7EB;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    padding-left: 400px;
    padding-right: 400px;
   }

   .testemonial_text{
    font-size: 36px;
    font-family: "Roboto",sans-serif;
    text-align: justify;
    font-weight: 100;
    padding-top:70px;
    font-style: italic;
    color: #1F2937;
   }
   .author {
    display: flex;
    color: #1F2937;
    justify-content: flex-end;
    font-family: "Roboto",sans-serif;
    padding-bottom: 70px;
    font-weight: 900;
   }
   
   /*Fim section action*/
 /*Inicio section modal*/

 .modal{
  display: flex;
  justify-content: center;
  padding: 70px;
 }

 .box_action{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882F6;
  border-radius: 10px;
  padding: 70px;
  width: 50%;
   
 }
 .element_1 h4{
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #F9FAF8;
  margin-top: 0px;
  margin-bottom: 0px;
 }
 .element_1 h5{
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  color: #d8d9d5;
 }

 .btn_modal{
  border: 2px solid #F9FAF8;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 5px;
  padding: 6px  30px;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
 }
 .btn_modal a {
  text-decoration: none;
  color: #F9FAF8;
 }
/*Fim section modal*/
/*Inicio section footer*/
.footer{
  display: flex;
  justify-content: center;
  background-color:#1F2937;
}
span{
  padding-top:2% ;
  padding-bottom: 2%;
  color: #F9FAF8;
  }

